<h1>All Artists</h1>
<ul>
	<% @artists.each do |artist| %>
	<li><a href="<%= artist_path(artist)%>"><%=artist.name%></a></li>
	<%end%>
</ul>

<a href="<%= new_artist_path%>"><button>Add an Artist</button></a>